/* ------------------------------------------------------------------------------------------------------------------------------
HEADER
--------------------------------------------------------------------------------------------------------------------------------*/
.header {
	background-color: blue;
}
